<h5><b>Files</b></h5>
<div class="list-group list-group--block">
  <% @marketing_request.all_documents.each do |document| %>
  <div class="list-group__wrap">
    <div class="list-group-item media file">
      <div class="media-body list-group__text">
        <a href="<%= document_path(document.uuid) %>" target='_blank'><%= document.public_name %></a>
        <div class="list-group__attrs">
        <small><%= local_time_ago document.created_at %> by <%= document.uploaded_by %></small>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <% end %>
</div>

<% unless @marketing_request.complete? %>
<div class='actions'>
  <a class="fileinput-button pull-right" type="button">
    <span class="btn btn-primary pull-right"><i class='fa fa-upload'></i> Upload</span>
    <%= form_for @marketing_request, :html => {:multipart => true}, class: 'form-control' do |f| %>
    <%= file_field_tag "marketing_request[documents_attributes][][attachment]", multiple: true, onchange:"javascript:this.form.submit();" %>
    <% end %>
  </a>
</div>
<% end %>
