<div class="page-header">
  <%= link_to new_marketing_request_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Marketing request
  <% end %>
  <h4>Requests</h4>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover datatable">
    <thead>
      <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Submitted</th>
            <th></th>
            <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @marketing_requests) do |marketing_request| %>
            <td><%= marketing_request.title %></td>
            <td><%= marketing_request.description %></td>
            <td><span style="display:none;"><%= marketing_request.created_at.to_i %></span><%= marketing_request.submitted_by %><br><%= local_time_ago marketing_request.created_at %></td>
            <td>
              <h5><span class="label pull-right label-default label-<%=marketing_request.workflow_state %>">
              <%= marketing_request.workflow_state.humanize.upcase %></span></h5>
            </td>
            <td><%= link_to 'Show', marketing_request %></td>
        <td><%= link_to 'Edit', edit_marketing_request_path(marketing_request) %></td>
      <% end %>
    </tbody>
  </table>
</div>
