<div class="page-header">
  <%= link_to marketing_requests_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  
  <% if @marketing_request.complete? %>
    <%= link_to reopen_marketing_request_path, 'data-method' => :put, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-eject"></span>
      Reopen
    <% end %>
  
  <% else %>
    <%= link_to edit_marketing_request_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>

    <a data-toggle="modal" href="#watchers" class="btn btn-default">
      <span class="glyphicon glyphicon-bullhorn"></span>
      <%= @marketing_request.watchers_emails.count %>
    </a>

    <% unless current_user.user? %>
      <%= link_to accept_marketing_request_path, 'data-method' => :put, class: 'btn btn-success' do %>
        <span class="glyphicon glyphicon-ok"></span>
        Accept
      <% end %>
      <%= link_to reject_marketing_request_path, 'data-method' => :put, class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-remove"></span>
        Reject
      <% end %>
    <% end %>

  <% end %>

  <h4><span class="gray">#<%= @marketing_request.id %>:</span> <%= @marketing_request.title %></h4>
</div>

<dl class="dl-horizontal">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 show-right-border">
        <p>
          <div class="dropdown">
            <span class="label label-<%=@marketing_request.workflow_state %>">
              <%= @marketing_request.workflow_state.humanize.upcase %>
            </span>

            <span class="dropdown-toggle" id="priorityFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <strong class="priority" id="priority"><%= @marketing_request.priority %></strong>
            </span>
            <ul class="dropdown-menu priority-filter" aria-labelledby="priorityFilter" data-id="<%= @marketing_request.id %>">
              <li><a href="#" data-turbolinks="false">P0</a></li>
              <li><a href="#" data-turbolinks="false">P1</a></li>
              <li><a href="#" data-turbolinks="false">P2</a></li>
              <li><a href="#" data-turbolinks="false">P3</a></li>
              <li><a href="#" data-turbolinks="false">P4</a></li>
            </ul>
          </div>
        </p>

        <div class="desc"><%= @marketing_request.description.html_safe %></div>
        
        <p class="gray">
          <%= local_time_ago @marketing_request.created_at %> by <%= @marketing_request.submitted_by %>
          <br/>Last update <%= local_time_ago @marketing_request.updated_at %>
          
          <% if @marketing_request.watchers.present? %>
            <br/>Watchers: <%= @marketing_request.watchers %>
          <% end %>
        </p>        

        <%= commontator_thread(@marketing_request) %>

      </div>
      <div class="col-md-3">
        <%= render partial: 'files' %>
      </div>
    </div>    
  </div>
</dl>


<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="page-header">
  <%= link_to @marketing_request, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  do %>
    <span class="glyphicon glyphicon-trash"></span>
    Delete Request
  <% end if current_user.admin? %>
  <h4>&nbsp;</h4>
</div>

<%= render partial: 'watchers' %>