<div class="page-header">
  <%= link_to marketing_requests_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  
  <% if @marketing_request.complete? %>
    <%= link_to reopen_marketing_request_path, 'data-method' => :put, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-eject"></span>
      Reopen
    <% end %>
  
  <% else %>
    <%= link_to edit_marketing_request_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>

    <% unless current_user.user? %>
      <%= link_to accept_marketing_request_path, 'data-method' => :put, class: 'btn btn-success' do %>
        <span class="glyphicon glyphicon-ok"></span>
        Accept
      <% end %>
      <%= link_to reject_marketing_request_path, 'data-method' => :put, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-remove"></span>
        Reject
      <% end %>
    <% end %>

  <% end %>

  <h4><%= @marketing_request.title %></h4>
</div>

<dl class="dl-horizontal">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9" style="border-right: 1px solid #eeeeee;">
        <p><span class="label label-<%=@marketing_request.workflow_state %>"><%= @marketing_request.workflow_state.humanize.upcase %></span>
        </p>

        <p><%= @marketing_request.description.html_safe %></p>
        
        <p style="color:#777;">
          By <%= @marketing_request.submitted_by %> on <%= local_time_ago @marketing_request.created_at %>
          <br/>Last updated <%= local_time_ago @marketing_request.updated_at %>
        </p>        

        <%= commontator_thread(@marketing_request) %>

      </div>
      <div class="col-md-3">
        <%= render partial: 'files' %>
      </div>
    </div>    
  </div>
</dl>


<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="page-header">
  <% if @marketing_request.complete? %>
    <%= link_to 'Reopen', reopen_marketing_request_path, 'data-method' => :put, class: 'btn btn-default' %>
  <% end %>

  <%= link_to @marketing_request, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  do %>
    <span class="glyphicon glyphicon-trash"></span>
    Delete Request
  <% end %>
  <h4>&nbsp;</h4>
</div>
