<div class="page-header">
  <%= link_to marketing_requests_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_marketing_request_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h4><%= @marketing_request.title %></h4>
</div>

<dl class="dl-horizontal">
  <dt></dt>
  <dd>
    <% unless @marketing_request.complete? %>
      <%= link_to 'Mark as Complete', complete_marketing_request_path, 'data-method' => :put, class: 'btn btn-default' %>
    <% end %>

    <span class="label pull-right label-<%=@marketing_request.workflow_state %>"><%= @marketing_request.workflow_state.humanize.upcase %></span>
  </dd>
  <br>

  <dt>Description:</dt>
  <dd><%= @marketing_request.description.html_safe %></dd>
  <br>

  <dt>Owner:</dt>
  <dd><%= @marketing_request.submitted_by %></dd>

  <dt>Created at:</dt>
  <dd><%= local_time_ago @marketing_request.created_at %></dd>

  <dt>Last updated at:</dt>
  <dd><%= local_time_ago @marketing_request.updated_at %></dd>

</dl>


<br/><br/>
<ul class="nav nav-tabs">
  <li class="active"><a data-nav="#discussion" href="#">Discussion</a></li>
  <li><a data-nav="#files" href="#">Files</a></li>
</ul>

<div id="files" style="display:none;" class="nav-content">
  <br/>
  <%= render partial: 'files' %>
</div>

<div id="discussion" class="nav-content">
  <%= commontator_thread(@marketing_request) %>
</div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="page-header">
  <% if @marketing_request.complete? %>
    <%= link_to 'Reopen', reopen_marketing_request_path, 'data-method' => :put, class: 'btn btn-default' %>
  <% end %>

  <%= link_to @marketing_request, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  do %>
    <span class="glyphicon glyphicon-trash"></span>
    Delete Request
  <% end %>
  <h4>&nbsp;</h4>
</div>
